<main class="Grade">
    <section class="landing">
        <div class="highlight-text">
            <label class="welcome" > WELCOME TO SATYAM PVT LTD.<br></label>
           <p class="headerPara"> Established in 2018 in the Information Technology and automotive industrial hub of Gurgaon, 
            Satyam Auto Components Pvt. Ltd. is serving the escalating market demands for high quality automotive components. 
            With 1 years of rich experience in the automotive industry and Information Technology, Satyam today is a world class manufacturer of Chassis for Motorcycles, Welded Sub-Assemblies, Fuel Tanks for two and four wheelers and Brake Booster Assemblies.
            Satyam Lots of Project done in Development.
        </p></div>
    </section>
    <!-- <angular-image-slider [images]="IMAGE_URL1" src="assets/resources/IMAGE_URL1"></angular-image-slider> -->
</main>