<div class="global-header_logo">
    <img class="imageicon" src="assets/resources/logo.png">
</div>
<!-- <div class="global-header_account" #userDetailHeader>
    <a class="global-header_account-dropdown handHover" [ngClass]="{'open-account-dropdown': openAccountDropDown}" (click)="openAccountDropDown = !openAccountDropDown" data-ripple="ripple">
      <div class="global-header_account-image" style="background-image:url(assets/resources/icon_people_custom.svg);"></div>
      <div class="global-header_account-name">
       <label class="strong-username">{{username}}</label>
      </div>
    </a>
    <div class="global-header_account-dropdown_content">
        <a class="secondary handHover" data-ripple="ripple">
            Profile
            <div class="ripple-container"></div>
          </a>
          <a class="secondary handHover" data-ripple="ripple">
            Sign out
          </a>
    </div>

</div> -->
<div class="topnav">
    <a class="active"  routerLink="/">Home</a>
    <a routerLink="/employee" routerLinkActive="active" data-ripple="ripple">Employee</a>
    <a routerLink="/attendance" routerLinkActive="active" data-ripple="ripple">Attendance</a>
    <a routerLink="/project" routerLinkActive="active" data-ripple="ripple">Project</a>
    <a routerLink="/leaves" routerLinkActive="active" data-ripple="ripple">Leaves</a>
    <a routerLink="/about" routerLinkActive="active" data-ripple="ripple">About Satyam</a>
    <!-- <a routerLink="/task" routerLinkActive="active" data-ripple="ripple">Task</a> -->
  </div>
<div class='inner-outlet'>
<router-outlet></router-outlet>
     </div>
   